.comunicacion {
  height: 100%;
  padding: 80px 60px;
  gap: 40px;
  background-color: var(--ARF-BGcolor-002);
}

.cardsComunicacion {
  height: auto;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  width: 85%;
}
.comunicacion > h2 {
  text-align: center;
  width: 85%;
}
.comunicacion > p {
  text-align: justify;
  margin: 50px 0px;
  width: 85%;
}
