.divEffect {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 350px;
  height: 100px;
}

.divEffectOK {
  display: flex;
}
.imgEffect {
  width: 30px;
}

.pEffect1 {
  font-family: 'Rockwell';
  font-size: 70px;
  color: var(--ARF-color-001);
  padding-bottom: 0px;
}

.pEffect2 {
  font-family: 'Rockwell';
  font-size: 40px;
  padding-bottom: 40px;
}

.positionEffect1 {
  position: absolute;
  bottom: 110px;
  left: 40px;
}
.positionEffect2 {
  position: absolute;
  bottom: 120px;
  left: 360px;
}

.positionEffect3 {
  position: absolute;
  bottom: 210px;
  left: 580px;
}
.positionEffect4 {
  position: absolute;
  bottom: 360px;
  left: 800px;
}

@media (max-width: 1270px) {
  .positionEffect2 {
    bottom: 180px;
  }
  .positionEffect3 {
    bottom: 280px;
    left: 460px;
  }
  .positionEffect4 {
    bottom: 380px;
    left: 700px;
  }
}
@media (max-width: 1180px) {
  .pEffect1 {
    font-size: 60px;
  }

  .pEffect2 {
    font-size: 30px;
  }
  .positionEffect2 {
    bottom: 200px;
    left: 240px;
  }
  .positionEffect3 {
    bottom: 260px;
    left: 320px;
  }
  .positionEffect4 {
    bottom: 380px;
    left: 540px;
  }
}
@media (max-width: 980px) {
  .divEffect {
    display: none;
  }
}
