.primaryButton {
  width: 200px;
  height: 60px;
  background-color: var(--ARF-color-003);
  border: 2px solid var(--ARF-color-001);
  border-radius: 10px;
  font-family: 'Rockwell';
  color: var(--ARF-color-001);
  font-size: 14px;
  cursor: pointer;
}
.secundaryButton {
  width: 200px;
  height: 60px;
  background-color: var(--ARF-color-002);
  border: 2px solid var(--ARF-color-001);
  border-radius: 10px;
  font-family: 'Rockwell';
  color: var(--ARF-color-001);
  font-size: 14px;
  cursor: pointer;
}
