#contacto {
  background-image: url('./assets/montain_line.webp');
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 85%;
  min-height: 100svh;
  padding: 80px 60px;
  gap: 40px;
}

.divAbout {
  width: 60%;
  padding-top: 40px;
  flex-direction: column;
}
.divAbout > div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.check {
  background-color: var(--ARF-color-003);
}
.divAbout > p {
  padding: 50px 0;
}
.divExpert {
  width: 100%;
}
.divExpert > a > img {
  height: 80px;
  background-color: var(--ARF-color-002);
  border-radius: 10px;
}
.divARF {
  flex-direction: column;
  gap: 20px;
}
.divARF > img {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  background-color: var(--ARF-color-003);
  margin-bottom: 40px;
}
.divARF > p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

@media (max-width: 1400px) {
  .divAbout {
    width: 80%;
    padding-top: 40px;
    flex-direction: column;
  }
}
@media (max-width: 1080px) {
  #contacto {
    width: 100%;
  }
  .divAbout {
    width: 100%;
  }
}
@media (max-width: 550px) {
  #contacto {
    padding: 40px 20px;
  }
  .divAbout > div h2 {
    font-size: 24px;
  }
}
@media (max-width: 400px) {
  .divARF > img {
    width: 280px;
    height: 280px;
  }
  .divExpert > a > img {
    height: 60px;
  }
}
