#nav {
  width: 55%;
  height: 150px;
  position: absolute;
  top: 40px;
  left: 40px;
}
.ulMenu {
  height: 100%;
  gap: 30px;
}
.ulMenu > li {
  flex-direction: column;
  gap: 5px;
}

.ulMenu > li > a {
  font-family: 'Rockwell';
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.098);
}
.menuColor {
  color: white;
}
.icon {
  width: 20px;
}

.subrayado {
  background-color: var(--ARF-color-003);
}

.navSections > ul {
  flex-direction: column-reverse;
  position: fixed;
  width: 200px;
  height: auto;
  top: 150px;
  right: 40px;
  padding: 0px;
  justify-content: center;
  align-items: end;
  gap: 10px;
}
.navSections > ul > li {
  flex-direction: row;
  justify-content: right;
}
.navSections > ul > li > a {
  font-size: 14px;
}
.navColor {
  color: var(--ARF-color-001);
}
.displayNone {
  display: none;
}
.displayOK {
  display: flex;
}

@media (max-width: 1300px) {
  #nav {
    width: 200px;
    height: auto;
    padding: 0;
  }
  .ulMenu {
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
  }
}

@media (max-width: 1080px) {
  .navSections {
    display: none;
  }
  .logoSections {
    display: none;
  }
}
@media (max-width: 550px) {
  #nav {
    top: 220px;
    left: 140px;
  }
  .ulMenu > li > a {
    font-size: 16px;
  }
}
